<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wawi.main.dao.CourseEvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.wawi.main.pojo.CourseEvaluate" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PLAN_ID" property="planId" jdbcType="VARCHAR" />
    <result column="TRAINEE_ID" property="traineeId" jdbcType="VARCHAR" />
    <result column="LEVEL" property="level" jdbcType="INTEGER" />
    <result column="SUMMARY" property="summary" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      ID, PLAN_ID, TRAINEE_ID, LEVEL, SUMMARY, STATUS, REMARKS
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wawi.main.pojo.CourseEvaluateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_pub_course_evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    ID,PLAN_ID,TRAINEE_ID,LEVEL,SUMMARY,STATUS,REMARKS
    from t_pub_course_evaluate
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_pub_course_evaluate
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wawi.main.pojo.CourseEvaluateExample" >
    delete from t_pub_course_evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wawi.main.pojo.CourseEvaluate" >
    insert into t_pub_course_evaluate (ID, PLAN_ID, TRAINEE_ID, 
      LEVEL, SUMMARY, STATUS, 
      REMARKS)
    values (#{id,jdbcType=VARCHAR}, #{planId,jdbcType=VARCHAR}, #{traineeId,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{summary,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wawi.main.pojo.CourseEvaluate" >
    insert into t_pub_course_evaluate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="planId != null" >
        PLAN_ID,
      </if>
      <if test="traineeId != null" >
        TRAINEE_ID,
      </if>
      <if test="level != null" >
        LEVEL,
      </if>
      <if test="summary != null" >
        SUMMARY,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="traineeId != null" >
        #{traineeId,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wawi.main.pojo.CourseEvaluateExample" resultType="java.lang.Integer" >
    select count(*) from t_pub_course_evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_pub_course_evaluate
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.planId != null" >
        PLAN_ID = #{record.planId,jdbcType=VARCHAR},
      </if>
      <if test="record.traineeId != null" >
        TRAINEE_ID = #{record.traineeId,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        LEVEL = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.summary != null" >
        SUMMARY = #{record.summary,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.remarks != null" >
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_pub_course_evaluate
    set ID = #{record.id,jdbcType=VARCHAR},
      PLAN_ID = #{record.planId,jdbcType=VARCHAR},
      TRAINEE_ID = #{record.traineeId,jdbcType=VARCHAR},
      LEVEL = #{record.level,jdbcType=INTEGER},
      SUMMARY = #{record.summary,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=CHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wawi.main.pojo.CourseEvaluate" >
    update t_pub_course_evaluate
    <set >
      <if test="planId != null" >
        PLAN_ID = #{planId,jdbcType=VARCHAR},
      </if>
      <if test="traineeId != null" >
        TRAINEE_ID = #{traineeId,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        LEVEL = #{level,jdbcType=INTEGER},
      </if>
      <if test="summary != null" >
        SUMMARY = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wawi.main.pojo.CourseEvaluate" >
    update t_pub_course_evaluate
    set PLAN_ID = #{planId,jdbcType=VARCHAR},
      TRAINEE_ID = #{traineeId,jdbcType=VARCHAR},
      LEVEL = #{level,jdbcType=INTEGER},
      SUMMARY = #{summary,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>